DATABASE_URL=""
REDIS_HOST=""
REDIS_PORT=""
UPLOADTHING_TOKEN=""
WEB_APP_URL=""
GEMINI_API_KEY=""
KAFKA_BROKER=""
KAFKA_SSL=""
OPENROUTER_API_KEY=""
YOUR_BOT_TOKEN=""
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=""
TELEGRAM_WEBHOOK_URL=""
ARCJET_API=""
ARCJET_ENV=""
POLAR_ACCESS_TOKEN=""
NEXT_PUBLIC_POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""
POLAR_WEBHOOK_SECRET=""